$primaryFont: "Poppins", sans-serif;
$quakiezFont: "Quakiez";
$openSansFont: "Open Sans", sans-serif;

$primary: #00877a;
$secondary: #faaf01;
$mainGray: #909090;
$lightGray: #f8f8f8;
$textColor: rgba(0, 0, 0, 0.61);
$darkMain: #010101;
$darkSecondary: #020202;
$dark3: #2a2a2a;
$blue: #5771cd;
$orange: #ff720c;
